<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="vegaConnectionString1" connectionString="Data Source=ws12\SQLEXPRESS;Initial Catalog=vega;User ID=sa; Password=P@ssword@123"
            providerName="System.Data.SqlClient" />
        <add name="vega2" connectionString="Data Source=HARSH\SQLEXPRESS;Initial Catalog=vega;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
